
# python compiled files
__pycache__/
.cache
*.ipynb
*.pyc
*.pyo
__pycache__
*.so
*.o
*.egg-info
dist
build
_build

#pip meta data
pip-wheel-metadata

# macOS files
.DS_Store

# ide settings and files
.idea
.vscode

# Other
.pytest_cache
examples/cp_ct_cq_lut.p
_site/
.jekyll-cache/
examples/hist.hist
examples/SLSQP.out

# Log files
*.log

# Cython
Cython/Compiler/*.c
Cython/Plex/*.c
Cython/Runtime/refnanny.c
Cython/Tempita/*.c
Cython/*.c
Cython/*.html
Cython/*/*.html

Tools/*.elc
Demos/*.html
Demos/*/*.html

/TEST_TMP/
/build/
/cython_build/
cython_debug/
/wheelhouse*/
!tests/build/
/dist/
.gitrev
.coverage
*.patch
*.diff
*.orig
*.prof
*.rej
*.log
*.dep
*.swp
*~
callgrind.out.*
